<div class="main-div">
  <div class="bg-container">
    <div class="status-bar">
      <div class="time">09:29</div>
      <div class="connections">
        <div class="celluar"><img src="./assets/signal.svg"/></div>
        <div class="wifi"><img src="./assets/wifi.svg"/></div>
        <div class="battery"><img src="./assets/battery.svg"/></div>
      </div>
    </div>
    <div class="ellipse"><img src="./assets/ellipse.svg"/></div>
    <div class="name">Jane</div>
    <div class="can">SAN FRANCISCO</div>
    <div >
      <button class="follow-btn" type="button">FOLLOW JANE</button>
    </div>
    <div >
      <button class="message-btn" type="button">MESSAGE</button>
    </div>
    <div>
      <img class="img-1" src="./assets/img-1.svg" />
      <img class="img-2" src="./assets/img-2.svg" />
      <img class="img-3" src="./assets/img-3.svg" />
      <img class="img-4" src="./assets/img-4.svg" />
      <img class="img-5" src="./assets/img-5.svg" />
      <img class="img-6" src="./assets/img-6.svg" />

    </div>
    <div>
      <button class="see-more">SEE MORE</button>
    </div>

</div>
<div class="tab-bar">
  <div class="home"><img class="home-icon" src="./assets/home-icon.svg"/></div>
  <div class="search"><img class="search-icon" src="./assets/search-icon.svg"/></div>
  <div class="insta"><img src="./assets/insta.svg"/></div>
  <div class="chat"><img class="chat-icon" src="./assets/chat.svg"/></div>
  <div class="contact"> <img class="contact-icon" src="./assets/contact.svg"/></div>
  <img class="down-bar" src="./assets/down-bar.svg"/>
</div>

</div>

